@import 'variables';

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Varela Round', sans-serif;
    color: $text-col;
    font-size: 25px;
    text-shadow: 2px 0 2px $text-shadow,
        0 2px 2px $text-shadow,
        -2px 0 2px $text-shadow,
        0 -2px 2px $text-shadow;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.fullscreen-bg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slideshow-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: -80px;
}

.slide1,
.slide2,
.slide3 {
    text-align: center;
    width: 1000px;
}


.prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin: -22px 7px 0 0;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    right: 0;
    border-radius: 3px 0 0 3px;
}

.dots {
    text-align: center;
}
.dot_1, .dot_2, .dot_3 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: $text-shadow;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot_1:hover, .dot_2:hover, .dot_3:hover {
    background-color: $text-col;
}
